---
layout: layout.liquid
title: 11ty Boilerplate
---

<h1>Planetary Playing Cards</h1>
<div class='cards'>
{% planet 'Sun' 'Type G2V' %}
{% planet 'Mercury' 'AUDistance' %}
{% planet 'Venus' 'AU Distance' %}
{% planet 'Earth' 'AU Distance' %}
{% planet 'Mars' 'AU Distance' %}
{% planet 'Jupiter' 'AU Distance' %}
{% planet 'Saturn' 'AU Distance' %}
{% planet 'Uranus' 'AU Distance' %}
{% planet 'Neptune' 'AU Distance' %}
</div>