---
layout: layout.liquid
title: 11ty Boilerplate
---

<h1>Planetary Playing Cards</h1>
<div class='cards'>
{% planet 'Sun' 'Type G2V' %}
{% planet 'Mercury' '0.4 AU' %}
{% planet 'Venus' '0.7 AU' %}
{% planet 'Earth' '1.0 AU' %}
{% planet 'Mars' '1.5 AU' %}
{% planet 'Jupiter' '5.2 AU' %}
{% planet 'Saturn' '9.6 AU' %}
{% planet 'Uranus' '19.2 AU' %}
{% planet 'Neptune' '30.0 AU' %}
</div>
<script>
		ScrollReveal().reveal('section', 
		{interval: 80});
</script>