:root{

}

body {
    font-family: Helvetica, sans-serif;
    color: #EAE8FF;
    background: #2D3142;
    padding: 0 40px;
    text-align: center;
    padding-bottom: 100px;
}

.cards{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
}


.Sun{
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    font-size: 6vh;
    min-width: 250px;
}

.Sun .dot{
    height: 40vh;
    width: 40vh;
    background-color: rgb(209, 174, 0);
}

.Mercury .dot{
    height: 5vh;
    width: 5vh;
    background-image: linear-gradient(-20deg, #456269, #205765, #456269);
}

.Venus .dot{
    height: 9vh;
    width: 9vh;
    background-image: linear-gradient(-15deg, #dd8418, #cbc20c, #dd8418);
}

.Earth .dot{
    height: 10vh;
    width: 10vh;
    background-image: repeating-linear-gradient(#0a9bd9, #0ccb3c 10%, #18bcdd);
}

.Mars .dot{
    height: 7vh;
    width: 7vh;
    background-image: linear-gradient(5deg, #bf440f, #821806, #bf440f);
}

.Jupiter .dot{
    height: 20vh;
    width: 20vh;
    background-image: repeating-linear-gradient(#e0b758, #e9ebc1, #e0b758 30%);
}

.Saturn .dot{
    height: 17vh;
    width: 17vh;
    background-image: linear-gradient(35deg, #e0b758, #131313, #e0b758);
}

.Uranus .dot{
    height: 13vh;
    width: 13vh;
    background-image: radial-gradient(rgb(138, 232, 248), rgb(66, 215, 248));
}

.Neptune .dot{
    height: 12vh;
    width: 12vh;
    background-image: radial-gradient(rgb(71, 126, 243), rgb(25, 95, 225));
}

section{
    background-color: #1e2232;
    padding-top: 30px;
    border-radius: 10px;
    font-size: 3vh;
    transition: 0.3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section:hover{
    background-color: #494482;
}

.dot {
    height: 10vh;
    width: 10vh;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }

h1 {
    font-size: 6em;
    letter-spacing: -2px;
    text-align: left;
}
